---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Resume from '../components/Resume.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Ting-Wei Hu | Professional Portfolio">
    <Header />
    
    <main>
        <About />
        <Resume />
        <Projects />
        <Contact />
    </main>

    <Footer />
</Layout>
